langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
langchain-community
sentence_transformers
langchain-huggingface
faiss-cpu
chromadb
langchain_chroma
langchain_groq
fastapi
uvicorn
langserve
duckduckgo-search
sse_starlette
